# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**objectives:**
-python
-julia
-java
-r

# Some of the popular languages that Data Scientists use are:

1.Python
2.R
3.Julia
4.Scala

# Some of the commonly used libraries used by Data Scientists include:

1.TENSOR FLOW
2.GGPLOT
3.APACHE SPARK
4.PANDAS
5.NUMPY

| data science tools |
|--------------------|
|jupiter notebook|
|anaconda|
|jupiter lyte|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
##This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

## Author
ALLI CHIRANJEEVI